* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.container {
  width: 960px;
  margin: 0 auto;
}
/* TODO: Add css here */
.content{
    background: #FFF;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.tabs {
  width: full;
  display: flex;
  
}
.tab_btn {
  border: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  color: rgb(245, 239, 239);
  width: 240px;
  padding: 20px;
}
.tab_btn:hover{
    background: rgba(0, 0, 0, 0.55); 
}

.tab_btn.active {
  background-color: rgb(11, 130, 203);
  color: white;
}

.tab-content {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 35px 60px;
}

.title{
    font-weight: 700;
    font-size: 32px;
    margin:  10px 0;
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
  .content {
    padding: 50px;
  }
}
